@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Anuphan:wght@400;700;900&display=swap');

:root {
    --bg: #ffffff;
    --text: #0f172a;
    --card: #f8fafc;
    --border: #f1f5f9;
}

html.dark,
body.dark {
    --bg: #000000;
    --text: #ffffff;
    --card: #121212;
    --border: #1a1a1a;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Anuphan', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    display: none;
}

.page.active {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    display: none;
}

.dark select option {
    background-color: #121212;
    color: white;
}